@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 設定文字樣式與大小以及內容寬度 */

body {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
}

.wrap {
  width: 1024px;
  margin: auto;
}

/* 社群連結，選單 */

.social-link {
  background: #f1f1f1;
}

.social-link ul {
  float: right;
}

.social-link ul li {
  float: left;
  margin: 7px 0;
  padding: 0 10px;
}

.social-link li + li {
  border-left: 1px solid #ccc;
}

.social-link a {
  text-decoration: none;
}

.social-link a img {
  vertical-align: top;
}

.facebook {
  color: #4460a4;
}

.twitter {
  color: #00b4ed;
}

.menu h1 a {
  background-image: url(../images/logo.png);
  display: block;
  width: 224px;
  height: 50px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

.menu h1 {
  float: left;
}

.menu ul {
  float: right;
  height: 50px;
}

.menu li {
  float: left;
  height: 100%;
  margin: 0 20px;
}

.menu li a {
  display: block;
  position: relative;
  height: 100%;
  line-height: 50px;
  padding: 0 13px;
  color: #00cb9b;
  text-decoration: none;
}

.menu li a:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #00cb9b;
  transition: transform 0.2s ease-in;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.menu li a:hover:after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* 廣告橫幅 */

#banner {
  position: relative;
}

#banner .title {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 35px;
  color: #fff;
}

#banner h2 {
  line-height: 1.4;
  padding: 0 25px;
}

#banner img {
  width: 100%;
}

/* 卡片內容 */

#content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 450px;
}

#content .item {
  width: 300px;
  height: 320px;
  box-shadow: 0 1px 2px #aaa;
}

#content .item .imgs {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content .item .text {
  margin: 0 15px;
  text-align: justify;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}

#content .item .text h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

#content .item .text ul {
  list-style: disc inside;
}

/* 比較表 */

#comparison h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
}

#comparison table {
  width: 85%;
  margin: 0 auto 60px;
}

#comparison td,
#comparison th {
  box-sizing: border-box;
  width: 25%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 12px 12px 12px 24px;
  text-align: left;
}

#comparison th {
  background: #f7f7f7;
  font-weight: 500;
}

#comparison td {
  font-weight: 300;
}

#comparison .better {
  color: #00cb9b;
}

/* 聯絡我們 */

#contact {
  padding: 40px 30px 20px;
  background: linear-gradient(180deg, #00654a, #009972);
  color: #fff;
  margin-bottom: 27px;
}

#contact h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 30px;
}

#contact form {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

#contact form textarea {
  margin-right: 20px;
  width: 50%;
  outline: none;
  border-radius: 5px;
  resize: none;
  line-height: 1.2;
}

#contact form .user-info {
  margin-left: 20px;
  width: 50%;
}

#contact .user-info .input-group {
  margin-bottom: 16px;
}

#contact .input-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

#contact .input-group input {
  width: 100%;
  height: 32px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#contact input[type="submit"] {
  background: #00cc98;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  outline: none;
  cursor: pointer;
}

#contact input[type="submit"]:hover {
  background: #74ffdf;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 95px;
  box-sizing: border-box;
  padding: 0 22px;
}

footer .contact-us li {
  margin-bottom: 10px;
}

footer .contact-us .highlight {
  color: #cd3b72;
}
